@import url("config.css");

/* header styles ================================================== */

.bg-gray-light {
  background-color: var(--gray-light);
}

.nav-link {
  font-size: 0.965rem;
  font-weight: 500;
  color: var(--black);
}

.nav-link:hover {
  color: var(--blue-marine);
}

.btn-contact {
  margin-top: 0.2rem;
  font-size: 0.85rem;
  color: var(--white);
  background-color: var(--blue-marine);
  border-radius: 0;
  width: 140px;
  height: 40px;
  border: 1px solid var(--black);
  font-size: 0.8rem;
  padding-top: 0.6rem;
}

.navbar-toggler:focus {
  box-shadow: none;
  border: 1px solid var(--blue-marine);
}

.btn-contact:hover {
  color: var(--black) !important;
  border: 1px solid var(--blue-marine)!important;
}

.dropdown-menu {
  border-radius: 0;
}

.dropdown-toggle::after{
  display: none!important;
} 
/* Hero styles ================================================== */

.hero {
  margin-top: var(--header-height) !important;
}

.hero-content {
  min-height: calc(100vh - var(--header-height));
}

.title-hero {
  font-weight: 800;
}

.keywords {
  background-image: url(../img/grifo.svg);
  background-repeat: no-repeat;
  background-position: bottom bottom;
  background-size: cover;
  padding-bottom: 3.5rem;
}

.btn-cta {
  font-size: 0.85rem;
  border-radius: 0;
  padding: 0.8rem 4rem;
  background-color: var(--blue-marine);
  color: var(--white);
  border: 1px solid var(--black)!important;
}

.btn-cta:hover {
  color: var(--black) !important;
  border: 1px solid var(--blue-marine)!important;
}

@media only screen and (min-width: 768px) {
  .hero-content {
    height: calc(100vh - var(--header-height)) !important;
  }
}

@media only screen and (min-width: 768px) {
  .hero-content {
    display: flex;
    align-items: center;
  }
  .entrance__text {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
  }
}

/* numbers impact section ==================================== */

.cards__impacts {
  display: flex;
}

.card {
  background: none;
  padding: 2rem 1rem;
  width: auto;
  height: max-content;
  border: none;
  border-radius: 0;
}

.numbers {
  color: var(--blue-marine);
  font-weight: 600;
}

@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .card:nth-child(2) {
    margin: 0 20px !important;
  }
}

@media only screen and (max-width: 992px) {
  .cards__impacts {
    width: max-content;
    margin: 0 auto;
  }
}

/* what do we do section =========================================== */

.cards__box {
  display: flex;
}

.card__promocional {
  background: none;
  padding: 2rem 1rem;
  height: max-content;
  border: none;
  border-radius: 0;
}

.card__content {
  padding: 0 2rem;
}

@media only screen and (max-width: 992px) {
  .card__content {
    display: flex;
    flex-direction: column !important;
  }
}

@media only screen and (min-width: 992px) {
  .cards__box {
    width: fit-content;
    margin: 0 auto;
  }
}

/* about section ==================================================== */

@media only screen and (min-width: 768px){
  .content-about{
    display: flex;
    flex-direction: row;  
    align-items: center;
  }

  .content-about > div:first-child{
    display: block;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px){
}

/* services section =================================================*/

.slider__container__services{
  max-width: 700px;
  width: 100%;
  border-left: 15px;
}

.card__services{
  border: 1px solid var(--blue-marine);
  padding: 2rem 1rem;
}

@media only screen and (min-width: 992px){
  .content__service{
    display: flex;
  }

  .services__section{
    display: flex;
    align-items: center;
  }
}

.swiper-button-next::after,
.swiper-button-prev::after {
    content: ""!important;
}

.swiper-button-next,
.swiper-button-prev {
  background-repeat: no-repeat;
  background-size: cover; 
}

.swiper-button-next{
  background-image: url(../img/chevron-right.svg);
} 
.swiper-button-prev{
  background-image: url(../img/chevron-left.svg);
}

.swiper-button-next, 
.swiper-button-prev{
  position: relative!important;
  margin-top: 0;
  width: 2rem;
  height: 2rem;
  color: var(--swiper-navigation-color,var(--swiper-theme-color))!important;
}

.swiper-button-active{
  border: 1px solid var(--blue-marine)!important;
}

.btns-action-sliders{
  display: flex;
  justify-content: start;
}

@media only screen and (max-width: 992px){
  .btns-action-sliders{
    display: flex;
    justify-content: end;
    margin-bottom: 1rem;
  }
  .swiper-button-next, .swiper-rtl .swiper-button-prev{
    right: 0!important;
  }

  .swiper-button-prev, .swiper-rtl .swiper-button-next {
    left: 18px!important;
  }
}

.swiper-button-next, .swiper-rtl .swiper-button-prev{
  right: 18px;
}

.swiper-button-prev, .swiper-rtl .swiper-button-next {
  left: 0;
}